$medium-screen: 992px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;

table {
  width: 70%;
  margin-top: 30px;
}

.table-status-td {
  font-weight: 500;
}

.not.started {
  color: #63b7af;
}

.planned {
  color: #039be5;
}

.feedback.call {
  color: #ef6c00;
}

.completed {
  color: #43a047;
}

.table-completed {
  margin-top: 50px;
  @media #{$medium-and-down}  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  table {
    @media #{$medium-and-down}  {
      width: 97%;
    }
  }
}



.table-row {
  .intermitent {
    display: none;
  }
  .stop {
    display: block;
    color: #b71c1c;
    cursor: not-allowed;
  }
  &:hover {
    .intermitent {
      display: block;
    }
  }
}

.table-board {
  display: flex;
  justify-content: space-between;
  @media #{$medium-and-down}  {
    flex-direction: column-reverse;
  }
}

.table-board-filters {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 407px;
  justify-content: space-between;
  padding: 19px;
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  @media #{$medium-and-down}  {
    width: 100%;
    height: 335px;
  }

  .table-clear-filter {
    background: #bdbdbd !important;
    color: #FFF;
    transition: 0.3s all;
    &:hover {
      opacity: 0.7;
    }
  }
}

.filter-priority {
  display: flex;
  flex-direction: column;
}
