.gallery {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  // background: yellow;
  h4 {
    margin-left: 40px;
  }

  .gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
