$medium-screen: 992px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;

.img-frame {
  cursor: pointer;
  position: relative;
  padding: 3px;
  height: 100%;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  img {
    width: 190px;
    object-fit: cover;
    border-radius: 5%;
    height: 167px;
    margin: 15px 0;
    @media #{$medium-and-down}  {
      width: 88px;
      height: 88px;
    }
  }

  .img-frame-name {
    position: absolute;
    margin: 0 auto;
    bottom: 5%;
    color: black;
    width: 100%;
    text-align: center;
  }
}

.profile-card {
  display: flex;
  flex-direction: column;
  .profile-card-frame {
    display: flex;
    @media #{$medium-and-down}  {
      flex-direction: column;
    }
  }

  .details-card {
    margin-left: 15px;
    background: #FBFFFE;
    min-height: 400px;
    width: 645px;
    padding: 30px;
    filter: drop-shadow(2px 4px 6px black);

    @media #{$medium-and-down}  {
      width: 306px;
      min-height: 284px;
    }

    .details-card-spec {
      color: #ef6c00;
    }
    ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    }
  }
}

.flashy {
  img {
    filter: grayscale(1);
    transition: all 1s;
    &:hover {
      filter: grayscale(0);
    }
  }
}

.bigger {
  img {
    margin-top: -2px;
    height: 398px;
    width: 316px;

    @media #{$medium-and-down}  {
      width: 131px;
      height: 143px;
    }
  }
}
